@import "./variables.scss";

.face {
  position: relative;
  width: 395px;
  max-width: 60vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  pointer-events: none;
  margin-top: 70px;

  @include for-desktop {
    margin-top: 100px;
  }

  @include for-tablet {
    margin-top: 300px;
  }

  img {
    position: absolute;
    width: 100%;

    &.blink {
      opacity: 0;

      &.show {
        opacity: 1;
      }
    }
  }
}
