@import "./variables.scss";

.landing {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  color: $color-white;

  &.flashing {
    animation: flashingBackground 200ms infinite;

    color: $color-white;
    background-color: $color-white;

    @keyframes flashingBackground {
      0% {
        background-color: $color-white;
      }
      20% {
        background-color: $color-black;
      }
      40% {
        background-color: $color-white;
      }
      60% {
        background-color: $color-black;
      }
      80% {
        background-color: $color-white;
      }
    }
  }

  .landing-header {
    position: fixed;
    top: 32px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    user-select: none;

    .landing-logo {
      max-width: 200px;
    }

    button {
      @include for-phone-only {
        display: none;
      }

      all: unset;
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-weight: 600;
      text-shadow: 2px 3px $color-black;
      cursor: pointer;

      position: relative;

      &:hover,
      &:focus,
      &:active {
        color: $color-yellow;

        &:before {
          position: absolute;
          content: " ";
          background-color: $color-red;
          width: 120%;
          margin-left: -5%;
          height: 100%;
          box-shadow: 4px 4px 0px darken($color-red, 25%);
        }

        img,
        span {
          transform: scale(1.2);
        }
      }

      img {
        width: 48px;
        height: 48px;
        object-fit: contain;
      }
    }
  }

  .landing-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    gap: 24px;
    bottom: 32px;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    user-select: none;

    a {
      all: unset;
      cursor: pointer;
      color: $color-red;
      font-family: "Martian Mono", monospace;
      font-weight: 400;
      background-color: $color-red;
      color: $color-white;
      padding: 16px 0;
      border: 1px double $color-red;
      text-shadow: 2px 3px $color-black;
      font-size: 16px;
      width: 100%;
      text-align: center;
      user-select: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
        text-underline-offset: 4px;
      }

      @include for-desktop {
        background-color: $color-black;
        color: $color-red;
        font-size: 24px;
        padding: 24px 0;
      }
    }

    .landing-footer-tour {
      max-width: 90vw;

      @include for-desktop {
        max-width: 800px;
      }

      img {
        width: 100%;
        filter: drop-shadow(1px 3px 0px $color-black);
      }
    }
  }

  .landing-monsters {
    position: fixed;
    bottom: 0;
  }
}
