@import "./variables.scss";

.mobile-nav-button {
  @include for-desktop {
    display: none;
  }

  all: unset;
  cursor: pointer;
  position: fixed;
  right: 32px;
  top: 32px;
  z-index: 3;

  transition: all 0.2s ease;

  &.sticky {
    filter: grayscale(1) brightness(5);
    top: 16px;
  }

  img {
    max-height: 40px;
    max-width: 8vw;
  }

  &:hover,
  &:focus,
  &:active {
    filter: contrast(200%) brightness(200%);
    z-index: 3;
  }
}

.mobile-nav {
  @include for-desktop {
    display: none;
  }

  position: fixed;
  background-color: darken($color-red, 5%);
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  max-height: -webkit-fill-available;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 4;
  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 0.5s ease;

  &.open {
    transform: translateX(0);
  }

  .mobile-nav-header {
    display: flex;
    padding: 16px;
    user-select: none;

    .mobile-nav-logo {
      height: 60px;
      width: auto;
    }

    .mobile-nav-close {
      all: unset;
      cursor: pointer;
      margin-left: auto;

      img {
        max-width: 40px;
      }

      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }

  .mobile-nav-links {
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding-left: 32px;
    gap: 24px;

    a {
      all: unset;
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-weight: 600;
      text-shadow: 2px 3px $color-black;
      cursor: pointer;
      user-select: none;
      color: $color-white;

      &:hover,
      &:focus,
      &:active {
        color: $color-yellow;

        background-color: $color-red;

        img,
        span {
          transform: scale(1.2);
        }
      }

      img {
        width: 48px;
        height: 48px;
        object-fit: contain;
      }
    }
  }

  .mobile-nav-copyright {
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-shadow: 2px 3px $color-black;
    margin-top: auto;
    padding-bottom: 8px;
    color: $color-white;
  }
}

.mushroom {
  @include for-desktop {
    display: none;
  }

  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  max-height: -webkit-fill-available;
  z-index: 4;
  transform: translateX(100%);
  transition: transform 0.5s linear;
  filter: brightness(80%);
  pointer-events: none;

  img {
    height: 100%;
  }

  &.open {
    transform: translateX(-225%);
  }
}

.planes {
  @include for-desktop {
    display: none;
  }

  img {
    position: fixed;
    z-index: 4;
    pointer-events: none;
    mix-blend-mode: color-burn;
    opacity: 0.25;
    pointer-events: none;
    transition: bottom 1s ease, left 1s ease;

    &.plane-one {
      width: 35%;
      bottom: 50%;
      left: -100%;
    }

    &.plane-two {
      width: 75%;
      bottom: -100%;
      right: -50%;
    }
  }

  &.open {
    .plane-one {
      bottom: 15%;
      left: 20%;
    }

    .plane-two {
      bottom: -2%;
      right: -10%;
    }
  }
}
