$color-white: #ffffff;
$color-black: #000000;
$color-red-alt: #ff1010;
$color-red: #eb0609;
$color-yellow: #ffbf00;

$screen-size-xs: 500px;
$screen-size-sm: 800px;

@mixin for-phone-only {
  @media screen and (max-width: $screen-size-sm) {
    @content;
  }
}

@mixin for-desktop {
  @media screen and (min-width: $screen-size-sm) and (min-height: $screen-size-xs) {
    @content;
  }
}
